.alert-action{
    border-left: 10px solid currentColor;
    width: 400px;
    display: none;
    height: 50px;
    font-size: 13px;
    line-height: 16px;
    z-index: 10;
    position: relative;
}
.hide-alert{
    display: block;
    position: absolute;
    right: -550px;
    top: 70px;
    transition:all 0.4s ease-out;
}
.show-alert{
    display: block;
    transition:all 0.4s ease-in;
    position: absolute;
    right: 50px;
    top: 70px;
}