<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet"
          type="text/css"/>
    <link href="{{ url_for('static', filename='assets/fonts/feather/feather.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/libs/bootstrap-icons/font/bootstrap-icons.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/libs/simplebar/dist/simplebar.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/theme.min.css') }}" rel="stylesheet" />
</head>
<body class="bg-light">
    <main>      
        <section class="container d-flex flex-column vh-100">
            <div class="row pt-8">
                <img class="col-lg-2 offset-5" src="{{ url_for('static', filename='cloud.png') }}" alt="cloud flare">
            </div>
            <div class="row align-items-center justify-content-center g-0 h-lg-100 pb-8">

                <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                    <!-- Card -->
                    <div class="card shadow">
                        <div class="card-body p-6">
                            <div class="mb-4">
                                <h1 class="mb-1 fw-bold">Sign in</h1>
                               
                            </div>
                            <form action="/" method="post" class="needs-validation" novalidate>
                                <div class="mb-3">
                                    <label for="access_key" class="form-label text-uppercase">Access key</label>
                                    <input type="text" id="access_key" class="form-control" name="access_key" placeholder="Access key here" required>
                                    <div class="invalid-feedback">Please enter valid key.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="secret_key" class="form-label text-uppercase">Secret key</label>
                                    <input type="password" id="secret_key" class="form-control" name="secret_key" placeholder="**************" required>
                                    <div class="invalid-feedback">Please enter valid key.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="kms_key_id" class="form-label text-uppercase">KMS Key ID</label>
                                    <input type="password" id="kms_key_id" class="form-control" name="kms_key_id" placeholder="**************" required>
                                    <div class="invalid-feedback">Please enter valid key.</div>
                                </div>
                                <div class="d-lg-flex justify-content-between align-items-center mb-4">
                                   
                                </div>
                                <div>
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="{{ url_for('static', filename='assets/js/vendors/validation.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/simplebar/dist/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.min.js') }}"></script>
   
</body>
</html>