{% extends "base.html" %}

{% block title %}Share File - My App{% endblock %}

{% block content %}
<div id ="alert-action-success" class="alert-action alert alert-success hide-alert" role="alert"></div>
<div id ="alert-action-error " class="alert-action alert alert-danger hide-alert" role="alert"></div>

<div class="card mt-4">
    <div class="card-header">
        <h4 class="card-title text-center">Share File</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="mb-3">
                <label for="sharedLink" class="form-label">Shared Link:</label>
                <textarea class="form-control" id="sharedLink" rows="2" style="height: 200px;" readonly>{{ shared_link }}</textarea>
            </div>
        </div>
        <a href="/files" class="btn btn-primary">Back to Home</a>
    </div>
</div>
{% endblock %}